section
    h1 Typescript
    h3 Statically Typed Javascript

section
    h2 Agenda
    ul
        li What is Typescript?
        li Why has Typescript been a win for us?
        li What you need to know if you want to use Typescript
        li Q & A

section
    h2 About me

    h5 Name
    p Reto Schläpfer

    h5 Work
    p React/Flux developer at #[i ParkingCard AG]

    h5 Blog
    p www.code-experience.com

    h5 Twitter
    p: i @Retolements

    h5 GitHub
    p: i Retozi

section
    h2 Typescript...? Stati-what?

section
    h3 Typescript is a language for application scale Javascript development

section
    h3 Typescript is a superset of Javascript that compiles to plain Javascript

section
    ul
        li All Javascript code is Typescript code.
        li Typescript adds optional static types, modules and some ES6 sugar.
        li Compiles back to Javascript.

// 6 mins

section
    h2 Demo!

//16 mins

section
    h2 Without static typing, the Type of every Object
    ul
        li has to be remembered by the Dev
        li should be tested manually by the Dev

section
    h3 But it's verbose!

section
    h3.
     verbosity = the amount of code and docs you have to read
        to understand it, and the tests you have to write to assert correctness

section
    h2 Static Typing
    ul
        li adds a lot of information that you would need look up or remember
        li asserts a lot of correctness of your code as you type

//21 mins

section
    h2 The Effect of Typescript in Practice

section
    h2 Deleted half of our unittests

section
    h2 Wrote whole modules (300-400 LOC) ran them, everything works

section
    h2 Refactor with confidence, up to three times faster

section
    h2 Static Typing discourages implicit, fancy patterns

//26 mins

section
    h2 Some things you should know about Typescript

section
    h2 It works! Mature, well thought out Type System, no Quirks

section
    h2 It is used heavily in production.

section
    h2 You can keep all dependencies.

section
    h2 You can switch gradually.

section
    h2 The dev-tooling is awesome (VSCode).

section
    h2 plugins for build-tools exist (tsify, webpack-typescript-loader).

section
    h2 providing a dependency can be a little quirky

section
    h2 Community not that big.

//30 mins
