section
    h1 Typescript
    h3.subhead Statically Typed Javascript

section
    h2 Agenda
    ul
        li What is Typescript?
        li Why has Typescript been a win for us?
        li What you need to know if you want to use Typescript
        li Q & A

section.cv
    h2 About me

    h5 Name
    p Reto Schläpfer

    h5 Work
    p React/Flux developer at #[i ParkingCard AG]

    h5 Blog
    p www.code-experience.com

    h5 Twitter
    p: i @Retolements

    h5 GitHub
    p: i Retozi

section
    h2 Typescript...? Stati-what?


section
    p Application-scale Javascript development.

section
    p Superset of Javascript.
    p Compiles to plain Javascript.

section
    ul
        li All Javascript code is Typescript code.
        li Optional static types, modules and some ES6 sugar.
        li Compiles back to readable Javascript.

// 6 mins

section
    h2 Demo!

//16 mins

section
    p Without static typing, the type of every object...
    ul
        li has to be remembered
        li should be tested

section
    p But it's verbose!?

section
    p(style="font-weight: bold; padding-bottom: 160px;") verbosity =

    p Code and docs to read
    p +
    p Rests to write

section
    p Static Typing
    ul
        li adds a lot of information that you would need look up or remember
        li asserts a lot of correctness of your code as you type

//21 mins

section
    h2 The Effect of Typescript in Practice

section
    p Deleted half of our unittests.

section
    p Wrote whole modules (300-400 LOC)...
    p ... ran them ...
    p ... no runtime error.

section
    p Refactor with confidence ...
    p ... up to three times faster

section
    p Static Typing discourages implicit, fancy patterns

    pre
        code.
            ...
            return Object.assign(this, y, {foo: 'bar'})
    pre
        code.
            foo('hello');
            foo(['hello', 'world']);


//26 mins

section
    h2 Things you should know

section
    p It works!
    p Mature, well thought out type system.
    p no quirks.

section
    p Used heavily in production.

section
    p Keep all your Javascript dependencies.

section
    p Switch gradually.

section
    p Dev-tooling is awesome.

section
    p Plugins for the major build-tools.

section
    p Providing a dependency can be quirky.

section
    p Small community.

section
    p Devs need to be willing to warm up to static typing.

section
    p Flow

section
    h3 Summary

//30 mins
