section
    h1 Typescript
    h3.subhead Statically Typed Javascript

section
    h2 Agenda
    ul
        li.fragment What is Typescript?
        li.fragment Why has Typescript been a win for us?
        li.fragment What you need to know if you want to use Typescript
        li.fragment Q & A


section
    h2 Typescript...? Stati-what?


section
    p Application-scale Javascript development.

section
    p Superset of Javascript.

section
    p Typescript adds:
    ul
        li.fragment Modules
        li.fragment ES6 sugar
        li.fragment Optional static types


section
    p Compiles back to readable Javascript


// 6 mins

section
    h2 Demo!

//16 mins

section
    p Without static typing, the type of every variable in your app...
    ul
        li.fragment should be tested
        li.fragment has to be remembered

section
    p But it's verbose!?

section
    p(style="font-weight: bold; padding-bottom: 160px;") verbosity =

    p.fragment Code and docs to read
    p.fragment +
    p.fragment Tests to write & refactor


//21 mins

section
    h2 The Effect of Typescript in Practice

section
    p Deleted half of our unittests.

section
    p Wrote whole modules (300-400 LOC)...
    p ... ran them ...
    p ... no runtime error.

section
    p Refactor with confidence ...
    p ... up to three times faster

section
    p Static typing discourages implicit, fancy patterns

    pre
        code.
            ...
            return Object.assign(this, y, {foo: 'bar'})
    pre
        code.
            foo('hello');
            foo(['hello', 'world']);


//26 mins

section
    h2 Things you should know

section
    p.framgent It works!
    p.fragment Mature, well thought out type system.
    p.fragment No quirks.

section
    p Used heavily in production.

section
    p Keep all your Javascript dependencies.

section
    p Switch gradually.

section
    p Dev-tooling is awesome.
    img#vscode

section
    p Plugins for the major build-tools.

section
    p No JSX and other language extentions.

section
    p Small community.

section
    p Devs need to be willing to warm up to static typing.

section
    p Flow

section
    h3 Summary

section.cv
    h2 About me

    h5 Name
    p Reto Schläpfer

    h5 Work
    p React/Flux developer at #[i ParkingCard AG]

    h5 Blog
    p www.code-experience.com

    h5 Twitter
    p: i @Retolements

    h5 GitHub
    p: i Retozi

//30 mins
