@import "../../scss/default.scss";

.demo-box {
    width: 100%;
    height: 175px;
    background: white;
    text-align: center;
    color: $backgroundColor;
    border: 1px solid $backgroundColor !important;
}

#mousemove-counter {
    line-height: 175px;
}


.green {
    position: absolute;
    height: 50px;
    width: 50px;
    background: green;
}
