@import "../../scss/default.scss";

.demo-box {
    position: relative;
    width: 100%;
    height: 175px;
    background: white;
    text-align: center;
    color: $backgroundColor;
    border: 1px solid $backgroundColor !important;
}

#mousemove-counter {
    line-height: 175px;
}


.green {
    position: absolute;
    height: 50px;
    width: 50px;
    background: green;
    cursor: default;
}

.blue {
    position: absolute;
    bottom: 0;
    height: 75px;
    width: 50px;
    background: blue;
    opacity: 0.1;
}


