section
    h2 Throttling in the browser...
    h2 done right

section
    h2 Agenda
    ul
        li How you might throttle
        li How you should throttle
        li A couple of throttle patterns

section
    h2 About me

    h5 Name
    p Reto Schläpfer

    h5 Work
    p React.js/Flux & Finance related backend stuff in Python at #[i Bluevalor AG]

    h5 Blog
    p www.code-experience.com

    h5 Twitter
    p: i @Retolements

    h5 GitHub
    p: i Retozi

section
    h2 Why throttling

    div
        p Because some events fire very often! (mousemove, scroll, resize)

        div#mousemove-counter


section

    h2 You might have done this

    pre
        code


