section
    h2 Throttling in the browser...
    h2 done right

section
    h2 Agenda
    ul
        li How you might throttle
        li How you should throttle
        li A couple of throttle patterns

section
    h2 About me

    h5 Name
    p Reto Schläpfer

    h5 Work
    p React.js/Flux & Finance related backend stuff in Python at #[i Bluevalor AG]

    h5 Blog
    p www.code-experience.com

    h5 Twitter
    p: i @Retolements

    h5 GitHub
    p: i Retozi

section
    h2 Why throttling

    div
        p Because some events fire very often! (mousemove, scroll, resize)

        div#mousemove-counter


section

    h2 Throttling via underscore

    pre
        code.hljs.javascript.
            var throtteled = _.throttle(onMouseClick, 1000 / 60);

            $(".foo").mousemove(throtteledFun);

section

    h2 Under the hood

    pre
        code.hljs.javascript.
            function throttle(func, frameRate) {
                var _wait = false;
                return function() {
                    if (_wait) {
                        return;
                    }

                    _wait = true;
                    setTimeout(function() {
                        _wait = false;
                        func();
                    }, frameRate);
                };
            }

section

    h2 Problems

    li static call rate

    li multiple throttlers are not bundled

    li call cycle is not synchronized with the browser reflow repaint cycle

    li runs even if animation is actually not visible


section

    h2 Solution:

    p: strong requestAnimationFrame

    li calls function every new frame

    li batches calls

    li aligns with browser reflow repaint cycle

    li does not run in tabs that are not visible
