// Base settings for all themes that can optionally be
// overridden by the super-theme

// Background of the presentation
$backgroundColor: #EEE;

// Primary/body text
$mainFont: "Tahoma", sans-serif;
$mainFontSize: 34px;
$mainColor: #222;

// Headings
$headingMargin: 0 0 10px 0;
$headingFont: "Cochin", serif;
$headingColor: #5d2e8a;
$headingLineHeight: 1em;
$headingLetterSpacing: 0.02em;
$headingTextTransform: uppercase;
$headingTextShadow: none;
$heading1TextShadow: $headingTextShadow;

// Links and actions
$linkColor: #5d2e8a;
$linkColorHover: lighten( $linkColor, 20% );

// Text selection
$selectionBackgroundColor: #FF5E99;
$selectionColor: #fff;

// Generates the presentation background, can be overridden
// to return a background image or gradient
@mixin bodyBackground() {
	background: $backgroundColor;
}
