section
    h1 Observable web
    h3 Untangling async 
        span.fragment completely

    p.author-name Ganesh Shanmugasundaram
    p.author-handle @hackerone

section
   img.logo(src=require('./img/logo.png'))
    
   img.london(src=require('./img/london.png'))
   
section
    