@import "./settings.scss";
@import "../../scss/default.scss";


html {
    font-size: $mainFontSize;
}

body {
    background-image: url(/icon.png);
    background-repeat: no-repeat;
    background-position: 2% 95%;
    background-size: 50px 56px;
}

.slide-number {
    position: fixed;
    top: 15px;
    right: 20px;
    font-size: 20px !important;
    bottom: auto;
}
.progress span {
    position: relative;
    &:after {
         content: "";
        position: absolute;
        right: 0;
        width: 100px;
        transform: rotateZ(2.5deg);
    }
}
.reveal, .reveal section, .reveal .slides {
    text-align: center;

    .disapprove {
        font-size: 2rem;
    }

    blockquote {
        &:before {
          color: #ccc;
          font-family: helvetica, arial;
          content: open-quote;
          font-size: 4em;
          line-height: 0.1em;
          position: absolute;
          left: -.5em;
          top: 0;
          vertical-align: -0.4em;
        }
        &:after {
          color: #ccc;
          content: close-quote;
          font-family: helvetica, arial;
          font-size: 4em;
          line-height: 0.1em;
          margin-left: 0.25em;
          position: absolute;
          right: -.5em;
          bottom: -.3em;
          vertical-align: -0.7em;
        }
        quotes: "\201C""\201D""\2018""\2019";
        font-size: 1.1rem;
        width: 90%;
        font-family: $mainFont;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        outline: none;
        box-shadow: none;
    }

    .left {
        text-align: left;
    }

    h1 {
        font-size: 2.4rem;
    }


    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.4rem;
        line-height: 120%;
    }

    li, p {
        font-size: 1rem;
        padding-bottom: 1rem;
    }

    ul, ol {
        display: inline-block;
        margin-top: 1.5rem;
        margin-left: 0;
        padding-left: 0;
        li {
            list-style: circle;
        }
    }

    img{
        border: none;
        margin: 0 auto;
        outline: none;
        background: transparent;
        box-shadow: none;
    }
    p {
        padding-bottom: 1.5rem;
        margin-bottom: 0;
    }

    img.center {
        margin: 2rem auto;
        display: block;
    }
    .wrap {
        display: flex;
        .half {
            flex-grow: 1;
        }
    }
}
@media print {
    html, body {
        overflow: scroll !important;
        width: auto;
        height: auto;
    }
    .slides {
        position: relative !important;
        .fragment {
            opacity: 1 !important;
        }
        width: 100%;
        height: 100%;
        top: 0; left: 0;
        section {
            position: relative !important;
            display: flex !important;
            flex-direction: column !important;
            left: 0; top: 0;
            width: 100% !important;
            display: block !important;
            opacity: 1 !important;
            width: 960px !important;
            height: 600px;
            margin: 0 auto;
            break-after: page !important;
        }
    }
}
