@import "./settings.scss";
@import "../../scss/default.scss";


html {
    font-size: $mainFontSize;
}

body {
    background-image: url(/icon.png);
    background-repeat: no-repeat;
    background-position: 2% 95%;
    background-size: 50px 56px;
}
.progress span {
    position: relative;
    &:after {
         content: "";
        position: absolute;
        right: 0;
        width: 100px;
        box-shadow: 0 0 10px 2px $linkColor;
        transform: rotateZ(2.5deg);
    }
}
.reveal, .reveal section, .reveal .slides {
    text-align: center;
    
    .disapprove {
        font-size: 2rem;
    }
    
    blockquote {
        font-size: 1rem;
        font-family: $headingFont;
        font-style: normal;
        line-height: 1.5;
        border: none;
        outline: none;
        box-shadow: none;  
    }
    
    .left {
        text-align: left;
    }
    
    h1 {
        font-size: 2.4rem;
    }
    
    
    h2 {
        font-size: 2rem;
    }
    
    h3 {
        font-size: 1.6rem;
    }
    
    li, p {
        font-size: 1rem;
        padding-bottom: 1rem;
    }
    
    ul, ol {
        display: inline-block;
        margin-top: 1.5rem;
        margin-left: 0;
        padding-left: 0;
        li {
            list-style: circle;
        }
    }
    
    img{
        border: none;
        margin: 0 auto;
        outline: none;
        background: transparent;
        box-shadow: none;
    }
    p {
        padding-bottom: 1.5rem;
        margin-bottom: 0;
    }
    
    img.center {
        margin: 2rem auto;
        display: block;
    }
    .wrap {
        display: flex;
        .half {
            flex-grow: 1;
        }
    }
}

@media print {
    
}