@import "./settings.scss";
@import "../../scss/default.scss";

.reveal section, .reveal .slides {
    img{
        border: none;
        margin: 0 auto;
        outline: none;
        background: transparent;
        box-shadow: none;
    }
    p {
        padding-bottom: 20px;
        margin-bottom: 0;
    }
}
